@page
@model ProductPageModel

@using System.Globalization
@{
    ViewData["Title"] = Model.Product.Name;

    var addingRating = Convert.ToBoolean(ViewData["is-adding-rating"]);
    double avgStar = Convert.ToDouble(ViewData["avg-star"]);
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN"); // try with "en-US"
    var price = Model.Product.Price.ToString("#,###", cul.NumberFormat) + " đ";
}
<div class="rounded p-3 mb-3 row" style="background-color: #fff;">
    <div class="col-5 flex-shrink-0 text-center">
        <img style="height: 444px; width:444px; object-fit: contain;" src="@Model.Product.Image" alt="" srcset="">
    </div>
    <div class="col-7 flex-shrink-0 d-flex flex-column">
        <h2 class="mb-2 flex-shrink-0">@Model.Product.Name</h2>
        <div class="flex-grow-1 row align-items-stretch justify-content-between">
            <div class="col-7 d-flex flex-column">
                <h2 style="color: #FF424E;" class="mb-3">@price</h2>
                <div class="flex-grow-1"></div>
                <div class="w-100 d-flex gap-2">
                    <button class="btn flex-grow-1 flex-shrink-0 p-2 fs-6"
                        style="background-color: #FF424E; color: white;">
                        Buy now
                    </button>
                    <button class="btn btn-outline-primary flex-grow-1  flex-shrink-0 p-2 fs-6">Add to cart</button>
                </div>
            </div>
            <div class="col-4 d-flex align-content-start flex-wrap overflow-auto">
                @foreach (var category in Model.Product.Categories)
                {
                    <vc:category-card category=category></vc:category-card>
                }
            </div>
        </div>
    </div>
</div>

<div class="rounded p-3 mb-3 row" style="background-color: #fff;">
    <h2 class="p-0">Features</h2>
    <table class="table table-hover">
        <tbody>
            @foreach (var feature in Model.Product.Features)
            {
                <tr>
                    <td>@feature.Key</td>
                    <td>@feature.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="rounded p-3 mb-3 row" style="background-color: #fff;">
    <h2 class="p-0">Detail information</h2>
    @Model.Product.Description
</div>

<div class="rounded p-3 mb-3 row" style="background-color: #fff;">
    <h2 class="p-0 mb-3">Rating From Customer</h2>
    <div class="row">
        <div class="col-4">
            <h1>@avgStar<i style="color: #FDD836;" class="fas fa-star"></i></h1>
        </div>
        <div class="col-8 text-end">
            <a class="btn btn-primary" asp-page="Product" asp-page-handler="AddRating"
                asp-route-id="@Model.Product.Id">Add rating</a>
        </div>
    </div>
    <form asp-page='Product' asp-page-handler='AddRating' method="post">
        <div class="mb-3">
            <label class="form-label">Message</label>
            <input type="text" class="form-control" name="Message">
            <label class="form-label">Star</label>
            <input type="number" class="form-control" name="Star">
            <input type="text" class="form-control" name="ProductId" value="@Model.Product.Id" hidden>
        </div>
        <button type="submit" class="btn btn-primary">Add Your Rating</button>
    </form>
    @foreach (var rating in Model.Product.Ratings)
    {
        <div class="row" style="min-height: 100px;">
            <div class="col-4">
            </div>
            <div class="col-8">
                <h4>@rating.Star<i style="color: #FDD836;" class="fas fa-star"></i></h4>
                <p>@rating.CreateDate</p>
                <p>@rating.Message</p>
            </div>
        </div>
    }
</div>
