@page
@model IDS.Pages.Account.Login.Index
@{
    ViewData["Title"] = "Login";
}

<div>
    <div class="card m-auto w-25 mb-3 mt-5 ">
        <div class="card-body">
            <h2 class="text-center">Login</h2>
            <form asp-route="Login">
                <input type="hidden" asp-for="@Model.ReturnUrl" />

                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.Form.UserName"></label>
                    <input class="form-control" placeholder="Username" asp-for="@Model.Form.UserName" autofocus>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.Form.Password"></label>
                    <input type="password" class="form-control" placeholder="Password" asp-for="@Model.Form.Password"
                        autocomplete="off">
                </div>

                <div class="mb-3">
                    <input type="checkbox" asp-for="@Model.Form.IsRemember">
                    <label asp-for="@Model.Form.IsRemember"> Remember me</label><br>
                </div>

                <!-- Submit button -->
                <button class="btn btn-primary btn-block mb -4 w-100" name="button" value="login">Login</button>

                <!-- Register buttons -->
                <div class="text-center">
                    <p>Not a member? <a asp-controller="Account" asp-action="Register"
                            asp-route-returnUrl="@Model.ReturnUrl">Register</a></p>
                    <p>or sign up with:</p>
                    <div id="g_id_onload"
                        data-client_id="805851943445-go4th0gl5io6vuamfje3d2q75burr64i.apps.googleusercontent.com"
                        data-context="signin"
                        data-ux_mode="popup"
                        data-callback="googleCallback"
                        data-auto_prompt="false">
                    </div>

                    <div class="g_id_signin"
                        data-type="standard"
                        data-shape="rectangular"
                        data-theme="outline"
                        data-text="signin_with"
                        data-size="large"
                        data-logo_alignment="left">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="m-auto w-50">
        <partial name="_ValidationSummary" />
    </div>
</div>
<script>
    function googleCallback(data){
        const formData = new FormData();
        formData.append('token', data.credential);
        formData.append('returnUrl', "@Model.ReturnUrl");

        postSubmition("/account/google", formData, $('input:hidden[name="__RequestVerificationToken"]').val())
    }
</script>